@media only screen and (max-width: 600px) {
    h1{
        font-size: 9vh;
        line-height: 8vh;
    }
    .nav-button{
        font-size: 2.5vh;
    }
    .background-button{
        width: 100%;
    }
    .logo-small{
        margin: 1vh 2vh 1vh 0;
    }
    #background{
        height: 90vh;
    }
    .project-icon{
        width:15vw;
        height: 15vw;
    }
    .project-icon:hover{
        width:15.1vw;
        height: 15.1vw;
    }
    #project-icon-selected{
        width:15.1vw;
        height: 15.1vw;
    }
    .project-icon-cover{
        width:15vw;
        height: 15vw;
    }
    .project-icon-cover:hover{
        width:15vw;
        height: 15vw;
    }
    .logo-small{
        margin: 3vh 3vh 3vh 0;
        padding: 0 2px;
    }
    #headshot{
        width: 20vh;
        height: 20vh;
    }
    .background-button{
        width: 25vh;
    }
    .skillset-selector-button{
        font-size: 2vh;
        width: 18vw;
    }
    .skill{
        font-size: 2vw;
        margin: .2vw;
    }
  }