body{
    background-color: black;
    background-image: url('../images/stars.png');
    color: whitesmoke;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
}

header, #image-layers,#image-container{
    width: 100vw;
    min-height: 100vh;
    background: black;
}

main{
    display: none;
    background-image: url('../images/stars.png');
    margin-top: -5vh;
}

/* main logo only */
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12vh;
    line-height: 10vh;
    margin: 0;
    text-align: right;
}

h2{
    border-bottom: .5px solid whitesmoke;
    padding-left: 3vh;
    padding-bottom: 0;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    margin: 0;
    color: whitesmoke;
}

nav{
    width: 100vw;
    height: 12vh;
    display: inline-flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
}

nav:nth-child(1){
    padding-left: 2vw;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100vw;
    margin-top: 5vh;
}

section{
    padding-top: 10vh;
}

#project-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

article{
    margin: 0 auto;
    padding: 3vh 7vw;
    background: rgba(245,245,245,.95);
    color: black;
    border-radius: 2vw;
    box-shadow: 0 0 10px dimgray inset;
    width: 70vw;
}

a{
    text-decoration: none;
    color: rgb(240, 87, 26);
}
a:visited { text-decoration: none; color:rgb(240, 87, 26); }
a:hover { text-decoration: none; color:rgb(240, 87, 26); }
a:focus { text-decoration: none; color:rgb(240, 87, 26); }
a:hover, a:active { text-decoration: none; color:rgb(240, 87, 26) }



img{
    box-shadow: 0 0 5px dimgray, inset 0 0 5px black;
}

label{
    font-weight: bold;
    font-variant-caps: all-small-caps;
}

.info{
    display: inline-block;
    border-bottom: .5px solid black;
    margin: .5vh 0;
    padding: .5vh .2vw;
}

.logo-container{
    display: inline-flex;
    width: 30vw;
    flex-direction: column;
    z-index: 100;
    position: absolute;
    justify-content: center;
    top: 10vh;
    left: 35vw;
}

.image-layers{
    background: black;
    overflow: hidden;
}

#background{
    height: 100vh;
    width:100vw;
    display: hidden;
}

#stars{
    height: 100vh;
    width:100vw;
}

#banner{
    position: relative;
    margin-top: -100.5vh;
    z-index: 1;
    height: 100vh;
    width:100vw;
    background-image:url('../images/banner.png');
    background-position: bottom;
    background-size: cover;
    opacity: 0;
}

#stars-container{
    width: 100vw;
    height: 100vh;
    margin-top: -100vh;
}

.comet{
    position: absolute;
    top: 0;
    left: 0;
    width: 5vh;
    height: 5vh;
    z-index: 100;
    background: url('../images/comet.png') 0 0 repeat;
    background-repeat: no-repeat;
    transform:rotate(-15deg);
}

#stars{
    width: 100vw;
    height: 100vh;
    margin-top: -100vh;
    background: url('../images/stars.png') 0 0 repeat;
    opacity: 0;
}

.logo{
    margin-bottom: 3vh;
    opacity: .95;
}

.logo-small{
    display: inline-flex;
    flex-direction: column;
    margin: 2vh 4vh 2vh 0;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-button{
    background: transparent;
    border: none;
    color: #78bff5;
    font-size: 3vh;
    margin-top: 5vh;
}

.nav-button:hover{
    text-decoration: underline;
    color: rgb(240, 87, 26);
}

.background-button-container{
    display: inline-flex;
    flex-direction: column;
    align-content: center;
}

.background-button{
    margin: 2% 20%;
    width: 80%;
    color:  rgb(120, 191, 245);
    background-color: rgba(120, 191, 245,.3);
    padding: 1vh;
    border-radius: .5vw;
    border: 2px solid #053245;
    font-size: 3vh;
    box-shadow: 0 0 5px rgb(120, 191, 245) inset;
}

.background-button:hover{
    color: #053245;
    background-color: rgba(120, 191, 245,.6);
    border: 2px solid rgba(120, 191, 245,.8);
}

#skillset{
    margin-top: 10vh;
}

#skillset-selector{
    border: .5px solid rgb(25, 25, 25);
    width: 100vw;
    background-color: rgb(17, 17, 17);
    box-shadow: 5px 5px 20px black inset;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.skillset-selector-button{
    width: 80%;
    color:  rgb(120, 191, 245);
    background-color: rgba(120, 191, 245,.3);
    padding: 1vh;
    border-radius: .5vw;
    border: 2px solid #053245;
    font-size: 3vh;
    box-shadow: 0 0 5px rgb(120, 191, 245) inset;
}

#skillset-container{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5vw;
}

.skill{
    font-size: 3vw;
    margin: 1vw;
}

#project-browse-bar{
    display: inline-flex;
    overflow-x: scroll;
    width: 94vw;
    border: 2px solid whitesmoke;
    background-color: #053245;
    margin: 0 3vw;
}

.project-icon{
    width:11vw;
    height: 11vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    border: .5px solid black;
    border-radius: 2vw;
    background-size: cover;
}

.project-icon:hover{
    opacity: 1;
    width:11.1vw;
    height: 11.1vw;
    border: .5px solid rgb(0, 195, 255);
}

#project-icon-selected{
    width:11.1vw;
    height: 11.1vw;
    border: .5px solid rgb(240, 87, 26);
}

.project-icon-cover{
    width:11vw;
    height: 11vw;
    border-radius: 2vw;
    background: radial-gradient(rgba(0,0,0,.01),rgba(0,0,0,.1) 40%,rgba(0,0,0,.3) 80%);
    box-shadow: 1px 1px 5px black inset;
    z-index: 1;
    padding: 0;
    margin:0;
    border: none;
}

.project-icon-cover:hover{
    width:11vw;
    height: 11vw;
    background: radial-gradient(rgba(0,0,0,0),rgba(0,0,0,.01) 80%,rgba(0,0,0,.2) 100%);
    border-radius: 2vw;
    z-index: 1;
}

.project-image-full{
    margin:2vw;
    max-width: 30vw;
    max-height: 30vw;
    height: 100%;
    border-radius: 2vw;
    border: .5px solid dimgray;
}

.project-full{
    display: inline-flex;
    justify-content: center;
    margin: 2vh auto;
    overflow-x: scroll;
    height: 45vh;
}
.next-button{
    width:100%;
    text-align: right;
    color: rgb(240, 87, 26);
    font-variant-caps: all-small-caps;
    font-size: 2.5vw;
}

.next-button:hover{
    width:100%;
    text-align: right;
    color: rgb(120, 191, 245);
    text-decoration: underline;
}

#headshot{
    width:20vw;
    height: 20vw;
    border-radius: 100vw;
    float: right;
    border-radius: 5vw;
    border: .5px solid dimgray;
    margin: auto 0;
}

.para{
    margin: 1vh;
}

.inline{
    width: 100%;
    display: inline-flex;
}

.column{
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}

.fade-in{
    animation: fadeIn ease 4s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

.fade-out{
    animation: fadeOut ease 4s; 
    animation-iteration-count: 1; 
    animation-fill-mode: backwards;
}

@keyframes fadeIn { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

@keyframes backgroundLoadFade { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

.background-fade-in{
    animation: fadeIn ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

.banner-fade-in{
    animation: fadeIn ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

.spin{
    animation: spin 360s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
    animation-fill-mode: forwards;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
